{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}!</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/sites/webcrate-admin/webcrate-admin.test/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/sites/webcrate-admin/webcrate-admin.test/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
